<% if logged_in? %>
  <p>こんにちは <%= current_user.name %> さん</p>
  <%= render 'posts/posts', posts: @posts %>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Fishposts</h1>
     <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary mt-5' %>
  </div>
</div>
<% end %>