<% if logged_in? %>
  <p>こんにちは <%= current_user.name %> さん</p>
  <%= render 'posts/posts', posts: @posts %>
<% else %>
<div class="center jumbotron">
  <div class="text-center text-light">
    <h1 class="font-weight-bold">Welcome to the Fishposts<br>
    How was your fishing today?<br>
    Did you catch a big one?<br>
    Let's share !</h1>
     <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-outline-light mt-5' %>
  </div>
</div>
<% end %>