.jumbotron {
    background:url(top.JPG) center no-repeat; 
    background-size: cover;
    height:600px;
    // opacity: 0.8;
}

.bg-opacity {
    background: rgba(255,255,255,.5);
    height: 100%;
    font-family: 'Ruda', sans-serif;
}